$animation-duration: 0.3s;

.root {
  display: block;
}

.conversion {
  position: relative;
  transition: width $animation-duration, height $animation-duration !important;

  & > span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  &.row > span {
    width: auto;
  }

  &.right > span {
    left: auto;
    right: 0;
  }

  & > span:nth-child(1) {
    animation-name: fadeIn;
    animation-duration: $animation-duration;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }

  & > span:nth-child(2) {
    animation-name: fadeIn;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
