@import 'src/styles/media';

.root {
}

.block:not(:first-child) {
  padding-top: 1.5rem;

  &:before {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background-color: var(--middle);
    margin: 0 auto 1.5rem auto;
    transition: background-color var(--theme-change-transition);
  }
}

.title {
  margin-bottom: 0.2rem;

  @include print {
    page-break-inside: avoid;
    page-break-after: auto;
  }
}

.date {
  color: var(--color-primary);
  margin-right: 1rem;
  white-space: nowrap;
  transition: color var(--theme-change-transition);
}

.address {
  color: var(--dark);
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
  transition: color var(--theme-change-transition);

  @include mobile-only {
    white-space: normal;
  }
}

.lists {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 0.8rem;
  margin: 0.8rem 0;

  @include tablet-landscape {
    grid-column-gap: 1rem;
  }

  @include mobile-only {
    grid-template-columns: auto;
  }

  .listTitle {
    font-weight: 600;
    color: var(--dark);
    transition: color var(--theme-change-transition);

    @include mobile-only {
      display: none;
    }
  }
}

.duties {
  @include print {
    page-break-inside: avoid;
  }
}

.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -0.3rem;

  @include print {
    page-break-inside: avoid;
  }

  li {
    background-color: var(--light);
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    padding: 0.1rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    white-space: nowrap;
    transition: background-color var(--theme-change-transition);
  }
}
