@import 'src/styles/variables';
@import 'src/styles/media';

.root {
  padding: $padding-desktop;
  margin-right: $extra-width-desktop;

  @include tablet-landscape {
    margin-right: $extra-width-landscape;
    padding: $padding-landscape;
  }

  @include tablet-portrait {
    padding: $padding-portrait;
    margin-right: 0;
  }

  @include mobile-only {
    padding: $padding-mobile;
  }

  @include print {
    margin-right: 0;
    padding: 0;
    padding-top: 1rem;
    padding-right: $padding-print;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .name {
    margin-right: 2rem;
    flex-grow: 1;
    max-width: 0;

    @include desktop {
      max-width: none;
    }

    @include print {
      max-width: none;
    }
  }

  @include tablet-landscape {
    .options {
      position: absolute;
      top: $padding-landscape;
      right: calc(#{$extra-width-landscape} + #{$padding-landscape});
    }
  }
}
