@import 'src/styles/variables';
@import 'src/styles/media';

.root {
  padding: $padding-desktop;
  margin-right: $extra-width-desktop;

  @include tablet-landscape {
    margin-right: $extra-width-landscape;
    padding: $padding-landscape;
  }

  @include tablet-portrait {
    padding: $padding-portrait;
    margin-right: 0;
  }

  @include mobile-only {
    padding: $padding-mobile;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  h1 {
    padding-right: 2rem;
  }
}
