@import 'src/styles/variables';
@import 'src/styles/media';

.root {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: $extra-width-desktop;
  box-sizing: content-box;
  background-color: var(--light);
  transition: background-color var(--theme-change-transition);

  @include tablet-landscape {
    width: $extra-width-landscape;
  }

  @include tablet-portrait {
    position: static;
    width: auto;
  }

  @include print {
    position: static;
    width: $extra-width-print !important;
    padding: 0;
    padding-left: $padding-print;
    background: none;
    border-left: 1px solid var(--middle);
  }
}

.content {
  padding: $padding-desktop;

  @include tablet-landscape {
    padding: $padding-landscape;
  }

  @include tablet-portrait {
    padding: $padding-portrait;
  }

  @include mobile-only {
    padding: $padding-mobile;
  }

  @include print {
    padding: $padding-print;
  }

  @include print {
    padding: 0;
  }
}

.avatarContainer {
  margin: 1rem 0 3rem;
}

@mixin activeAvatar {
  background-size: 13rem;
  background-position-y: -0.6rem;

  @include tablet-landscape {
    background-size: 11rem;
    background-position-y: -0.5rem;
  }
}

.avatar {
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
  margin: 0 auto;
  cursor: pointer;
  background-size: 12rem;
  background-position: center 0;
  transition: 0.15s;

  @include tablet-landscape {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background-size: 10rem;
  }

  @include hover {
    @include activeAvatar;
  }

  &Active {
    @include activeAvatar;
  }
}

.header {
  @include tablet-portrait {
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding-top: 0.6rem;
  }
}

.name {
  width: 100%;
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 1rem;
}
