@import 'src/styles/media';

.root {

}

.row:not(:first-child) {
  margin-top: 1rem;
}

.texts {
  display: flex;
  flex-direction: row;
  color: var(--color-primary);
  margin-top: 0.2rem;
}

.dates {
  min-width: 8rem;
  white-space: nowrap;

  @include mobile-only {
    min-width: 6.5rem;
  }
}

.subject {
  @include mobile-only {
    text-align: right;
  }
}

